html {
    padding: 0;
    margin: 0;
    background: url(/StarTrekGame/assets/images/startrekwallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
}

#characters {
    width:8vw;
}
.charClass {
    width:8vw;
    height:10vw;
    float:left;
}