@font-face {
    font-family: Swiss911;
    src: url(../font/Swiss911BT-UltraCompressed.otf);
}

html {
    padding: 0;
    margin: 0;
    background: url(../images/startrekwallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Swiss911, serif;
    font-size:2.5vw;
    font-style:italic;
    color:white;
    text-transform: uppercase;
}

#characters {
    width:8vw;
    float:left;
    margin-left:1vw;
}

#enemies {
    width:8vw;
    margin-top:0;
    float:right;
    margin-right:1vw;
}

#mainText {
    width:80%;
    height:9vw;
    float:left;
    border:0.1vw solid white;
    margin-top:1vw;
    margin-left:10%;
    padding-top:1vw;
    text-align:center;
    background-color:black;
    position:fixed;
}

.charClass,
.enemyClass {
    width:8vw;
    height:10vw;
    float:left;
    margin-top:1vw;
    border:0.1vw solid white;
}

#charChoice,
#enemyChoice {
    width:12vw;
    height:15vw;
    border:0.1vw solid white;
    margin:1.5vw;
    
}

#charChoice {
    float:left;
}

#enemyChoice {
    float:right;
}

#charStats,
#enemyStats {
    width:40%;
    margin-top:22vw;
    /* background-color:yellow; */
    padding-top:5vw;
}

#charStats {
    float:left;
}   

#enemyStats {
    float:right;
}

#charHealthBox,
#charAttBox,
#enemyHealthBox,
#enemyAttBox,
#charName,
#enemyName {
    background-color:black;
    border:0.1vw solid white;
}

#charHealthBox,
#charAttBox,
#charName,
#enemyHealthBox,
#enemyAttBox,
#enemyName {
    width:55%;
    padding:0.5vw;
    margin:0.5vw;
}

#charHealthBox,
#charAttBox,
#charName {
    float:left;
}

#enemyHealthBox,
#enemyAttBox,
#enemyName {
    float:right;
}

#charHealthBox,
#enemyHealthBox {
    margin-top:2vw;
}

#charHealth,
#charAtt,
#enemyHealth,
#enemyAtt {
    /* background-color:red; */
    float:right;
    width:35%;
}

#charName,
#enemyName,
#attButton {
    height:3vw;
}

#attButton {
    background-color:red;
    border:0.1vw solid white;
    float:left;
    margin-top:32vw;
    width:4vw;
    height:3vw;
    padding:2vw;
    padding-right:3vw;
    display:none;
}

#enemyStats,
#charStats,
#characters,
#enemies {
    display:none;
}