@font-face {
    font-family: Swiss911;
    src: url(/assets/font/Swiss911BT-UltraCompressed.otf);
}

html {
    padding: 0;
    margin: 0;
    background: url(/assets/images/startrekwallpaper.jpg) no-repeat center center fixed;
    background-size: cover;
    font-family: Swiss911, serif;
}

h2 {
    font-size:3vw;
    color:white;
}
#characters {
    width:8vw;
    float:left;
    margin-left:1vw;
}

#enemies {
    width:8vw;
    margin-top:0;
    float:right;
    margin-right:1vw;
    /* display:none; */
}

.charClass,
.enemyClass {
    width:8vw;
    height:10vw;
    float:left;
    margin-top:1vw;
    border:0.1vw solid white;
}

#charChoice,
#enemyChoice {
    width:12vw;
    height:15vw;
    border:0.1vw solid white;
    margin:1.5vw;
    
}

#charChoice {
    float:left;
}

#enemyChoice {
    float:right;
}

#charStats,
#enemyStats {
    width:40%;
    margin-top:22vw;
    /* background-color:yellow; */
    padding-top:5vw;
}

#charStats {
    float:left;
    /* display:none; */
}   

#enemyStats {
    float:right;
    /* display:none; */
}

#charHealthBox,
#charAttBox,
#enemyHealthBox,
#enemyAttBox,
#charName,
#enemyName {
    background-color:black;
    border:0.1vw solid white;
}

#charHealthBox,
#charAttBox,
#charName,
#enemyHealthBox,
#enemyAttBox,
#enemyName {
    width:55%;
    padding:0.5vw;
    margin:0.5vw;
}

#charHealthBox,
#charAttBox,
#charName {
    float:left;
}

#enemyHealthBox,
#enemyAttBox,
#enemyName {
    float:right;
}

#charHealthBox,
#enemyHealthBox {
    margin-top:2vw;
}

#charHealth,
#charAtt,
#enemyHealth,
#enemyAtt {
    /* background-color:red; */
    float:right;
    width:35%;
}

#charName,
#enemyName {
    height:3vw;
}
